<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
                <hiddenSegments>
                    
                </hiddenSegments>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
    
    <system.web>

     <httpRuntime executionTimeout="300" maxRequestLength="51200"/>


<identity impersonate="false" />
        <compilation batchTimeout="4500" debug="true" defaultLanguage="VB" numRecompilesBeforeAppRestart="50">
<compilers>
<compiler language="VB;VBScript" extension=".cls" type="Microsoft.VisualBasic.VBCodeProvider,system, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" compilerOptions="/nowarn" />
</compilers>
</compilation>
        
        <customErrors mode="Off" >
 
        </customErrors>
<pages validateRequest="false" >
<namespaces>
<add namespace="System.Data" />
<add namespace="System.Data.SqlClient" />
<add namespace="System.Xml" />
<add namespace="System.Xml.Schema" />
<add namespace="System.Xml.XPath" />
<add namespace="System.Collections.Generic" />
</namespaces>
</pages>
    </system.web>


</configuration>


